
// Colour variables
$red: #fc4747;
$dark-blue: #10141e;
$greyish-blue: #54698f;
$semi-dark-blue: #161d2f;
$pure-white: #ffffff;

// Font variables
$fontOut: "Outfit", sans-serif;

// Border variables
$border-empty : 1px solid $greyish-blue;
$border-active : 1px solid $pure-white;
$border-error : 1px solid $red;