@import '../../partials/variables';
@import '../../partials/mixins';

div.searh-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 34px;
    width: 100%;
    background: $dark-blue;
    position: fixed;
    top: -50px;
    padding-top: 80px;
    padding-bottom: 20px;
    z-index: 6;
    margin-left: 7.5rem;

    input.search-input {
        @include SearchInputEmpty;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        // margin-right: 36px;
        outline: none;
    }
    input.search-input:focus {
        @include SearchInputActive;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        // margin-right: 36px;
        outline: none;
        
    }
}

// Media Queries
@media screen and (max-width: 768px) {
    div.searh-container {
        position: static;
        margin-top: 0;
        height: fit-content;
        margin: 40px 0 0 0;
        padding: 0;


        svg {
            // padding-top: 3px;
            // path {
            //     scale: .7;
            // }
        }
    
        input.search-input {
            // font-size: px-to-rem(16);

        }
        input.search-input:focus {
            // font-size: px-to-rem(16);
        }  
    }
}

@media screen and (max-width: 430px) {
    div.searh-container {
        margin-top: 10px;
        margin-bottom: 0;
        position: static;
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;

        svg {
            padding-top: 3px;
            path {
                scale: .7;
            }
        }
    
        input.search-input {
            font-size: px-to-rem(16);

        }
        input.search-input:focus {
            font-size: px-to-rem(16);
        }  
    }
}