div.container {
    display: flex;

    app-sidebar {

    }

    div.right-side {
        display: flex;
        flex-direction: column;
        overflow: scroll;

        app-searchbar{

        }

        app-trending {
            
        }
    }
}