@import '../../partials/variables';
@import '../../partials/mixins';

aside.sidebar-container {
    height: 100vh;
    width: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $semi-dark-blue;
    border-radius: 20px;
    padding: 35.41px 0;
    margin-right: 36px;

    div.nav-wrapper {

        svg.logo {
            margin-bottom: 74.99px;
        }

        div.nav-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    img.user-profile {
        width: 40px;
        height: 40px;
        border: 1px solid $pure-white;
        border-radius: 50%;
    }
}


.selected {
    path {
        fill: $pure-white;
        cursor: pointer;
    }
}

.not-selected {
    path {
        fill: $greyish-blue;
        cursor: pointer;
    }
}



// Media Queries 

@media screen and (max-width: 768px) {
    aside.sidebar-container {
        width: 100%;
        height: 72px;
        flex-direction: row;
        padding: 0 24px;

        div.nav-wrapper {
            display: flex;
            gap: 190px;
            height: 72px; 
            align-items: center;

            svg.logo {
                margin-bottom: 0;
            }
    
            div.nav-icons {
                flex-direction: row;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    aside.sidebar-container {
        width: 100%;
        height: 72px;
        flex-direction: row;
        padding: 0 24px;
        margin-right: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;

        div.nav-wrapper {
            display: flex;
            gap: 50px; 
            height: 72px; 
            align-items: center;

            svg.logo {
                margin-bottom: 0;
            }
    
            div.nav-icons {
                flex-direction: row;
                gap: 24px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    aside.sidebar-container {
        width: 100%;
        height: 72px;
        flex-direction: row;
        padding: 0 24px;
        margin-right: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;

        div.nav-wrapper {
            display: flex;
            gap: 50px; 
            height: 72px; 
            align-items: center;

            svg.logo {
                margin-bottom: 0;
            }
    
            div.nav-icons {
                flex-direction: row;
                gap: 24px;
            }
        }
    }
}
