@import '../../partials/mixins';
@import '../../partials/variables';

div.recommended-container {
    margin-bottom: 40px;
    margin-left: 7.5rem;

    span.heading {
        @include HeadingL;
    }

    div.fyp-list {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        margin-top: 32px;

        div.fyp-wrapper {
            width: 280px;
            height: 226px;
            // background: yellow;

            div.recommended-item {
                position: relative;

                img.image {
                    width: 280px;
                    height: 174px;
                    object-fit: cover;
                    border-radius: 8px;
                    margin-bottom: 8px;
                }

                div.bookmark-wrapper {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: $dark-blue-transparency;
                    position: absolute;
                    z-index: 4;
                    top: 16px;
                    right: 16px;
                    display: grid;
                    place-items: center;
                    transition: $btn-transition;

                    svg.bookmark-stroke {

                    }

                    svg.bookmark-fill {
                        
                    }
                }

                div.bookmark-wrapper:hover {
                        background: $pure-white;

                        svg {
                            path {
                                stroke: $dark-blue;
                                stroke-width: 2px;
                            }
                        }
                }

                div.dark-bg {
                    width: 100%;
                    height: 174px;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    display: grid;
                    place-items: center;
                    transition: $btn-transition;
                    cursor: pointer;

                    div.play-btn {
                        @include PlayButtonIdle;
                        transition: $btn-transition;
                    }
                }

                div.dark-bg:hover {
                    width: 100%;
                    height: 174px;
                    background: $dark-blue-transparency;
                    position: absolute;
                    top: 0;
                    display: grid;
                    place-items: center;

                    div.play-btn {
                        @include PlayButton;
                        @include PlayButtonHovered;
                    }
                }

            }

            div.fyp-info {
                
                div.fyp-rating {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    opacity: .75;

                    span {
                        @include BodyS;
                    }

                    p {
                        @include BodyS;
                    }

                    div.circle {
                        @include dot;
                    }

                    svg {
                        scale: .8;

                        path {
                            fill: $pure-white;
                        }
                    }
                }

                span.fyp-name {
                    @include HeadingXS;
                    font-weight: 300;
                }
            }
        }
    }
}



// Media Query 
@media screen and (max-width: 768px) {

    div.recommended-container {
        margin-left:0;

        div.fyp-list {
            display: flex;
            gap: 25px;
            flex-wrap: wrap;
            margin-top: 32px;
    
            div.fyp-wrapper {
                width: 220px;
                height: 192px;
                // background: yellow;
    
                div.recommended-item {
                    position: relative;
    
                    img.image {
                        width: 220px;
                        height: 140px;
                    }
    
                    div.bookmark-wrapper {
                        width: 32px;
                        height: 32px;
                    }
    
                    div.bookmark-wrapper:hover {

   
                    }
    
                    div.dark-bg {
                        width: 100%;
                        height: 140px;
    
                    }
    
                    div.dark-bg:hover {
                        width: 100%;
                        height: 140px;
    
                    }
    
                }

                div.fyp-info {
                
                    div.fyp-rating {
         
    
                        span {
 
                        }
                        p {
                            @include BodyS;
                            // font-size: 11px;
                        }
    
                        div.circle {
      
                        }
    
                        svg {
                
    
                            path {
        
                            }
                        }
                    }
    
                }
                
            }
        }
    }
   
} 

@media screen and (max-width: 430px) {

    div.recommended-container {
        margin-left:0;

        div.fyp-list {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            margin-top: 32px;
    
            div.fyp-wrapper {
                width: 164px;
                height: 154px;
                margin-bottom: 20px;
                // background: yellow;
    
                div.recommended-item {
                    position: relative;
    
                    img.image {
                        width: 164px;
                        height: 110px;
                    }
    
                    div.bookmark-wrapper {
                        width: 32px;
                        height: 32px;
                    }
    
                    div.bookmark-wrapper:hover {

   
                    }
    
                    div.dark-bg {
                        width: 100%;
                        height: 110px;
    
                    }
    
                    div.dark-bg:hover {
                        width: 100%;
                        height: 110px;
    
                    }
    
                }
                
            }

            div.fyp-info {
                
                div.fyp-rating {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    opacity: .75;

                    span {
                        @include BodyS;
                        font-size: 9px;
                    }
                    p {
                        @include BodyS;
                        font-size: 11px;
                    }

                    div.circle {
                        @include dot;
                    }

                    svg {
                        scale: .8;
        

                        path {
                            scale: .8;
                        }
                    }
                }

                span.fyp-name {
                    @include HeadingXS;
                    font-size: px-to-rem(14);
                    font-weight: 300;
                }
            }

        }
    }
   
} 


